* {
  margin: 0;
  padding: 0;
}

.App {
  min-width: 1024px;
  min-height: 768px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.route-button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: rgb(70,130,180);
  font-weight: bold;
  border-radius: 5px;
}

.route-button:hover {
  background-color: rgba(70,130,180,0.5);
}

.route-button:active {
  background-color: rgba(70,130,180,0.8);
}

.calendar-app-container {
  display: flex;
  flex: 2;
}

.calendar-edit-form-container {
  flex: 1;
}

.calendar-content-container {
  flex: 3;
}

.fc-event-main-frame {
  white-space: normal;
}

#author-header {
  display: flex;
  align-items: center;
}

#author-header > * {
  margin: 0px 4px;
}

#author-header > *:first-child {
  margin-left: 0px;
}

#author-header > *:last-child {
  margin-left: 0px;
}

.remove-event-btn {
  margin: 10px 0px;
}