* {
  margin: 0;
  padding: 0;
}

.App {
  min-width: 1024px;
  min-height: 768px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App > * {
  margin: 0px 10px;
}

.App > *:first-child {
  margin-left: 0px;
}

.App > *:last-child {
  margin-right: 0px;
}

.route-button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: rgb(70,130,180);
  font-weight: bold;
  border-radius: 5px;
}

.route-button:hover {
  background-color: rgba(70,130,180,0.5);
}

.route-button:active {
  background-color: rgba(70,130,180,0.8);
}

.calendar-app-container {
  width: 100%;
  height: 100%;
}